extends layout


block layout-content
  div.View
    div.Branding
      h1.Banner1 C
      h1.Banner2 C
      h1.Banner3 C
    div.Message
      span.details Search for locations near you or look through our delivery zones,
      div.Title
        h1 Lets get you some food!
    div.NavButtons
      a(href="/map")
          div.NavButton ->Delivery Map<-
